 /*-- MAIN CONTENT  --*/
   .img-box { width:150px; height:150px; position:absolute; top:44px; left:55px; border: 4px solid #3ba8c0; border-radius: 50%; overflow:hidden;}
      .img-box .avatar { max-width:150px;}
   .profile-list { width:401px; float:right; display:table; margin:0; padding:0; list-style:none;}
   .profile-item { margin:6px 0 16px;}
      .profile-quest, .profile-reply { display:table-cell; vertical-align:top; text-align:left;}
      .profile-quest { font-family:fira_sansmedium; font-size:17px; line-height:17px; padding:0;}
      .profile-reply { font-family:fira_sansbook; font-size:15px; line-height:17px; color:#37424d;}

.tdg-1 { min-width: 112px;}
.tdg-2 { min-width: 127px;}
.tdg-3 { min-width: 110px;}
.tdg-4 { min-width: 185px;}
.tdg-5 { min-width: 170px;}

   .skill-list { margin:0; padding:0; list-style:none; width:220px; display: block;}
      .skill-item {background: linear-gradient(to bottom, #3ba8c0 1%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-radius:2px; color:#fff; cursor: pointer; display: inline-block; font-size:12px; font-family: fira_sanssemibold; margin:5px 0px 4px 3px; padding:1px 14px; text-align:center;}

.experience-list { margin:0; padding:0; list-style:none;}
   .experience-item { margin:0 0 17px; padding: 0 0 0 105px;}
      .experience-item .place { font-family:fira_sansbook; font-size:17px;}
      .experience-item .date { font-family:fira_sanslight; font-size:15px;}
.icon-work, .icon-college, .icon-courses { background-position:38px 50%; background-repeat:no-repeat; }
.icon-work { background-image: url("../img/work.png"); }
.icon-college { background-image: url("../img/school.png"); background-position:36px 50%;}
.icon-courses { background-image: url("../img/courses.png"); background-position:43px 50%;}

.education-list { margin:0; padding:0; list-style:none;}
   .education-item { margin:0 0 18px; padding:0 0 0 105px;}
      .education-item .place { font-family:fira_sansbook; font-size:17px;}
      .education-item .date { font-family:fira_sanslight; font-size:15px;}












